// MIXIN

@mixin box-sizing() {
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
}

@mixin clearfix {
    &::after {
        content: '';
        display: table;
        clear: both;
    }
}

@mixin spritebox($left, $top, $width, $height) {
  background-repeat: no-repeat;
  background-position: $left $top;
  width: $width;
  height: $height;
}
 
@mixin width-margin ($margintb, $marginlr) {
    width: calc(100% - #{$marginlr*2});
    margin: $margintb $marginlr;
}